input[type="submit"] {
  margin: 0px auto;
  padding: 5px;
  width: 200px;
  background-color: #ea995d;
  color: #ffffff;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  border: 0px solid;
  border-radius: 5px;
}

form {
  text-align: center;
}

.center {
  text-align: center;
}

a{
  color: #777;
}